@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: apercu, sans-serif;
}

.desktop_hide {
  display: flex;
}
@media (min-width: 840px) {
  .desktop_hide {
    display: none;
  }
}

.mobile_hide {
  display: none;
}
@media (min-width: 840px) {
  .mobile_hide {
    display: flex;
  }
}

.header_parent {
  background-color: #e9e9e9;
  width: 100%;
}

.header {
  width: 100%;
  font-family: apercu, sans-serif;
  padding: 6% 4% 1%;
}
@media (min-width: 840px) {
  .header {
    padding: 1% 3% 1%;
  }
}
.header .accent_information {
  width: 100%;
}
.header .accent_information .filter_section {
  background-color: #d2d2d2;
  border-radius: 0.5rem;
  padding: 3%;
  width: 70%;
}
@media (min-width: 840px) {
  .header .accent_information .filter_section {
    width: 80%;
    padding: 0.8%;
  }
}
.header .contact_cta {
  width: 15%;
  padding: 0.8%;
  border-radius: 0.5rem;
  background-color: #383838;
  cursor: pointer;
}

/* .hero {
  padding: $default_padding;
  h1 {
    font-size: 16px;
    font-size: 8.5vw;
    color: $accent_color;
    margin: 0;
    padding: 0;

  }
} */
.ads {
  width: 100%;
  padding: 6% 4% 1%;
}
@media (min-width: 840px) {
  .ads {
    padding: 1% 3% 1%;
  }
}
.ads marquee {
  color: #383838;
}
.ads .hero_illustration {
  position: relative;
  margin-top: 2.5rem;
}
@media (min-width: 840px) {
  .ads .hero_illustration {
    margin-top: 3rem;
  }
}
.ads .hero_illustration img {
  width: 100%;
  height: 36dvh;
  border-radius: 0.5rem;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  transition: background-color 0.6s ease;
}
@media (min-width: 840px) {
  .ads .hero_illustration img {
    height: 80dvh;
  }
}
.ads .hero_illustration figcaption {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.ads .hero_illustration figcaption .ad_cta_btn {
  position: absolute;
  padding: 1.5%;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ads .hero_illustration figcaption h2 {
  /* font-family: 'Ubuntu Condensed', sans-serif; */
  font-size: 2rem;
  font-weight: 500;
  width: 50%;
}
@media (min-width: 840px) {
  .ads .hero_illustration figcaption h2 {
    font-size: 5.5rem;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* text switching animation */
.switchi {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 20%;
  animation: switcher 8s infinite ease-in-out;
  /* min-width: 100%; */
  width: 100%;
  transform: translate(-50%, 100%);
}
@media (min-width: 840px) {
  .switchi {
    min-width: 100%;
    bottom: 20%;
    transform: translate(-50%, 100%);
  }
}
.switchi:nth-child(1) {
  animation-delay: -7s;
}
.switchi:nth-child(2) {
  animation-delay: -6s;
}
.switchi:nth-child(3) {
  animation-delay: -5s;
}

@keyframes switcher {
  0%, 5%, 100% {
    filter: blur(0px);
    opacity: 1;
  }
  50%, 80% {
    filter: blur(180px);
    opacity: 0;
  }
}
.brand_logo {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1% 3% 10%;
  color: #383838;
}
@media (min-width: 840px) {
  .brand_logo {
    padding: 1% 3% 2%;
  }
}
.brand_logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 14%;
}
@media (min-width: 840px) {
  .brand_logo img {
    width: 4%;
  }
}

.about_us_parent {
  width: 100%;
  background-color: #F8F8F8;
}
.about_us_parent .about_us {
  padding: 20% 3% 10%;
  color: #383838;
  display: flex;
  flex-direction: column;
}
@media (min-width: 840px) {
  .about_us_parent .about_us {
    padding: 10% 3% 10%;
    flex-direction: row;
  }
}
.about_us_parent .about_us .about_card {
  width: 100%;
  height: 40dvh;
  border-radius: 0.5rem;
}
@media (min-width: 840px) {
  .about_us_parent .about_us .about_card {
    height: 80dvh;
    border-radius: 2rem;
  }
}
.about_us_parent .about_us .about_card article {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
  border-radius: 0.5rem;
}
@media (min-width: 840px) {
  .about_us_parent .about_us .about_card article {
    border-radius: 2rem;
  }
}
.about_us_parent .about_us .about_card article h1 {
  width: 100%;
}
@media (min-width: 840px) {
  .about_us_parent .about_us .about_card article h1 {
    width: 70%;
  }
}
.about_us_parent .about_us .about_card article a {
  /* width: 30%; */
  padding: 3%;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: large;
  cursor: pointer;
}

.illustration_bg_one {
  background-image: url("../multimedia/illustrationone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.illustration_bg_two {
  background-image: url("../multimedia/illustrationtwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.navigation {
  position: fixed;
  bottom: 5%;
  width: 100%;
}
.navigation nav {
  height: 10dvh;
  width: 30%;
  background-color: #4D4D4D;
  border-radius: 0.5rem;
}
.navigation nav .nav_item {
  width: 100%;
  background-color: #3E3E3E;
  border-radius: 0.3rem;
}
.navigation nav .nav_item a {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.active_page {
  background-color: #F7951F;
}/*# sourceMappingURL=style.css.map */