@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.desktop_hide {
  display: flex;
}
@media (min-width: 840px) {
  .desktop_hide {
    display: none;
  }
}

.mobile_hide {
  display: none;
}
@media (min-width: 840px) {
  .mobile_hide {
    display: flex;
  }
}

.header_parent {
  width: 100%;
}

.header {
  width: 95%;
  font-family: "Space Grotesk", sans-serif;
  margin: 2% auto 0;
}
@media (min-width: 840px) {
  .header {
    margin: 1% auto 0;
  }
}
.header .accent_information {
  width: 100%;
}
.header .accent_information h1 {
  color: #f7951f;
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif;
}
.header .accent_information .filter_section {
  font-family: "Space Grotesk", sans-serif;
  background-color: #d2d2d2;
  border-radius: 0.5rem;
  padding: 3%;
  width: 70%;
}
@media (min-width: 840px) {
  .header .accent_information .filter_section {
    width: 80%;
    padding: 0.8%;
  }
}
.header .contact_cta {
  width: 15%;
  font-family: "Space Grotesk", sans-serif;
  padding: 0.8%;
  border-radius: 0.5rem;
  background-color: #383838;
  cursor: pointer;
}

.cursor,
.hand {
  position: fixed;
  left: 0;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s;
}

.cursor {
  background: black;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: 999;
}

.hand {
  /* opacity: 0; */
  background: transparent;
  top: 50%;
  width: 100px;
  height: 100px;
  z-index: 999;
  display: grid;
  place-content: center;
  transform: rotate(45deg);
}
.hand svg {
  width: 80px;
  opacity: 0;
}

.hero_card {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
}
.hero_card section {
  width: 90%;
  overflow: hidden;
  background-color: #d4d4d4;
  margin: 20% auto 0;
  align-items: center;
  /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); */
  box-shadow: -1px -1px 6px 2px rgba(247, 149, 31, 0.33);
  -webkit-box-shadow: -1px -1px 6px 2px rgba(247, 149, 31, 0.33);
  -moz-box-shadow: -1px -1px 6px 2px rgba(247, 149, 31, 0.33);
}
@media (min-width: 840px) {
  .hero_card section {
    margin: 5% auto 0;
    width: 75%;
  }
}
.hero_card section article {
  /* background-color: red; */
  width: 100%;
  transform-style: preserve-3d;
}
.hero_card section article h1 {
  font-size: 2rem;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #383838;
  /*         text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4); */
}
@media (min-width: 840px) {
  .hero_card section article h1 {
    font-size: 5rem;
  }
}
.hero_card section article p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.2rem;
  transform: translateZ(20px);
}
@media (min-width: 840px) {
  .hero_card section article p {
    font-size: 1.5rem;
  }
}
.hero_card section article .btn_projects {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
.hero_card section article .btn_projects a {
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
}
@media (min-width: 840px) {
  .hero_card section article .btn_projects a {
    font-size: 1.5rem;
  }
}
.hero_card section article .btn_projects img {
  display: none;
}
@media (min-width: 840px) {
  .hero_card section article .btn_projects img {
    display: flex;
    width: 20px;
    height: 10px;
    opacity: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.hero_card section article .btn_projects:hover img {
  width: 50px;
  height: 20px;
  opacity: 1;
  transition: width 0.5s, height 0.5s;
}
.hero_card section figure {
  position: relative;
  width: 100%;
}
.hero_card section figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero_card section figure figcaption {
  width: 50%;
}
.hero_card section figure figcaption .gn {
  font-size: 45vw;
  position: absolute;
  z-index: 0.5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about_us_parent {
  width: 100%;
  margin: 20% auto 0;
  position: relative;
  /* background-color:$aux_bg; */
}
@media (min-width: 840px) {
  .about_us_parent {
    margin: 10% auto 0;
  }
}
.about_us_parent .priv_arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  width: 40px;
  height: 40px;
  line-height: 50px;
  color: #fff;
  font-size: 1.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  bottom: -60px;
  right: 120px;
}
@media (min-width: 840px) {
  .about_us_parent .priv_arrow {
    bottom: -80px;
    right: 250px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}
.about_us_parent .next_arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  width: 40px;
  height: 40px;
  line-height: 50px;
  color: #fff;
  font-size: 1.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  bottom: -60px;
  right: 0;
}
@media (min-width: 840px) {
  .about_us_parent .next_arrow {
    bottom: -80px;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}
.about_us_parent .about_us {
  width: 100%;
  /* margin: 15% auto 0; */
  color: #383838;
  display: flex;
  justify-content: space-between;
}
.about_us_parent .about_us .about_card {
  width: 100%;
  height: 40dvh;
  aspect-ratio: 1/1;
}
@media (min-width: 840px) {
  .about_us_parent .about_us .about_card {
    height: 80dvh;
  }
}
.about_us_parent .about_us .about_card article {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0) 100%);
  background-size: cover;
}
.about_us_parent .about_us .about_card article h1 {
  width: 100%;
}
@media (min-width: 840px) {
  .about_us_parent .about_us .about_card article h1 {
    width: 70%;
  }
}
.about_us_parent .about_us .about_card article a {
  /* width: 30%; */
  padding: 3%;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: large;
  cursor: pointer;
}

.illustration_bg_one {
  background-image: url("../multimedia/illustrationone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.illustration_bg_two {
  background-image: url("../multimedia/illustrationtwo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment: fixed; */
}

.design_portfolio {
  position: relative;
  /*  background-color: red; */
  width: 90%;
  margin: 20% auto 0;
}
@media (min-width: 840px) {
  .design_portfolio {
    margin: 10% auto 0;
  }
}
.design_portfolio .accent_information {
  margin: 0 auto 40%;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.design_portfolio .accent_information .alert {
  position: absolute;
  bottom: -40px;
  right: -30px;
  background-color: #f7951f;
  width: 40%;
  padding: 1px;
  transform: rotate(-20deg);
}
@media (min-width: 840px) {
  .design_portfolio .accent_information .alert {
    bottom: -15px;
    right: -60px;
    padding: 10px;
    transform: rotate(-20deg);
    width: 30%;
  }
}

.projects {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
}
.projects .design_display {
  width: 100%;
  background: red;
  position: relative;
  aspect-ratio: 1/0.5;
}
.projects .design_display img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.5;
}

.prev_arrow_logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  width: 40px;
  height: 40px;
  line-height: 50px;
  color: #fff;
  font-size: 1.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  /* bottom: -60px; */
  /* right: 120px; */
}
@media (min-width: 840px) {
  .prev_arrow_logo {
    /*     bottom: -80px;
        right: 250px;
        */
    width: 50px;
    top: 50%;
    left: 0;
    transform: translate(-80%, -50%);
    height: 50px;
    font-size: 2rem;
  }
}

.next_arrow_logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  width: 40px;
  height: 40px;
  line-height: 50px;
  color: #fff;
  font-size: 1.5rem;
  aspect-ratio: 1/1;
  cursor: pointer;
  /*  bottom: -60px; */
  /* right: 0; */
}
@media (min-width: 840px) {
  .next_arrow_logo {
    /*     bottom: -80px;
        right:0; */
    top: 50%;
    right: 0;
    transform: translate(80%, -50%);
    width: 50px;
    height: 50px;
    font-size: 2rem;
  }
}

.web_projects {
  width: 100%;
  margin: 10% auto 0;
}
.web_projects header {
  width: 100%;
}
@media (min-width: 840px) {
  .web_projects header {
    width: 40%;
  }
}
.web_projects .web_projects_main {
  width: 90%;
}
@media (min-width: 840px) {
  .web_projects .web_projects_main {
    margin: 10% auto 10%;
  }
}
.web_projects .web_projects_main .web_project {
  width: 100%;
  margin: 0.5%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  aspect-ratio: 1/0.7;
}
.web_projects .web_projects_main .web_project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/0.7;
}

.navigation {
  position: fixed;
  bottom: 5%;
  width: 100%;
}
.navigation nav {
  height: 10dvh;
  width: 30%;
  background-color: #4d4d4d;
  border-radius: 0.5rem;
}
.navigation nav .nav_item {
  width: 100%;
  background-color: #3e3e3e;
  border-radius: 0.3rem;
}
.navigation nav .nav_item a {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

.active_page {
  background-color: #f7951f;
}/*# sourceMappingURL=style.css.map */